@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.block-overlay::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  cursor: default;
  content: ' ';
  background: transparent;
}

.ant-select-dropdown {
  overflow: visible !important;
}

.ant-table-row.selected-row {
  background-color: #f5f5f5;
}

.ant-spin-container {
  height: 100%;
}

#root .ant-menu-light.ant-menu-root.ant-menu-inline,
#root .ant-menu-light.ant-menu-root.ant-menu-vertical {
  border: 0;
}

.ant-message-custom-content {
  display: flex;
}

.ant-table-body {
  overflow-y: auto !important;
}

/* #root .ant-form-item-row {
  align-items: center;
} */

#root #self .ant-upload-list.ant-upload-list-picture-circle {
  position: relative;
}

#root #self .ant-upload.ant-upload-select {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 555;
}

.ant-form-item .ant-form-item-label > label.ant-form-item-required::before {
  display: none !important;
}
